<h1>About</h1>

<p>Darlene Witte has been the owner of Vision 2000 and Sunburst
Tanning for over 18 years. She has been a Licensed Hair Stylist
and Nail Technician for over 24 years. She worked at Vision 2000
and Sunburst Tanning for 6 years before purchasing the business
from the previous owners. She is married to Bruce Witte with 2 sons
- Matthew, 18 and Shawn, 16. She is a member of the Medina Business
Association and The Greater Niagara Business Association. She is a
graduate of Lyndonville Central School and Niagara Boces. She has
lived in this area for 40 years, which makes knowing and servicing
her clients her number one priority.</p>

<p>Vision 2000 offers many services with 4 exceptionally trained,
licensed stylists and nail technicians. "We work hand in hand with
Kenra Inc. and Schwarzkopf International for in salon training and
continued education to keep up with all the latest styles and trends".</p>

<p>It all comes down to making people feel good about themselves.
At the end of the day, that's really what our job is all about.</p>

<p>Vision 2000 is looking for another stylist to join our team. If
you or someone you know are looking to start their career or make a
change please stop by Vision 2000 to fill out an application. All
applications are strictly confidential. You can also e-mail me your
resume to dwitte1@rochester.rr.com. 521 Main St. Medina 585-798-4810
Mon-Fri 8am-8pm and Sat 8am-4pm</p>