<h1>Contact</h1>

<table>
  <tr>
  	<td>Phone:</td>
  	<td>585-798-4810</td>
  </tr>
  <tr>
  	<td></td>
  	<td>585-798-4600</td>
  </tr>
  <tr>
  	<td>Fax:</td>
  	<td>585-798-4600</td>
  </tr>
</table>

<br>

<table>
  <tr>
  	<td>Hours:</td>
  	<td>Monday-Friday 8AM-8PM</td>
  </tr>
  <tr>
  	<td></td>
  	<td>Saturday 8AM-4PM</td>
  </tr>
</table>

<p>Walk in service when available or call ahead for an appointment.</p>

<p>We gladly accept Visa, Mastercard, Discover, and debit cards.</p>

<p>Email Address: <a href="mailto:dwitte1@rochester.rr.com">dwitte1@rochester.rr.com</a></p>