<h1>Services</h1>

<p>Vision 2000 offers many services to pamper yourself or that special someone:</p>
<ul>
  <li>Hair care for the entire famile</li>
  <li>Coloring</li>
  <li>Hilighting</li>
  <li>Natural and artificial nails</li>
  <li>Spa pedicures in private room</li>
  <li>Parafin spa hand and foot treatments</li>
  <li>Facial waxing</li>
  <li>Tanning</li>
  <li>Gift certificates available</li>
  <li>Wedding and prom packages</li>
</ul>

<p>The following product lines are available in the salon:</p>
<ul>
  <li>Kenra</li>
  <li>Paul Mitchell</li>
  <li>American Crew</li>
  <li>Malibu 2000</li>
  <li>Schwarzkopf</li>
  <li>Osis</li>
  <li>O.P.I. nail care products</li>
</ul>

<p>*********Other product lines available with online shopping through Four Seasons!</p>

<p>Call now to schedule an appointment with one of our
expert, licensed hair stylists, colorists, or nail
technicians. Walk in service when available.</p>

<p>Senior citizen specials everyday - 60 and over.</p>

<p>Sunburst Tanning has 3 Wolff Sundash beds and 1 Wolff
Sundash stand-up booth. Lots of tanning packages and combo
specials are available. We carry the full time of Australian
Gold lotions for that deep dark tan.</p>