<h1>Specials</h1>

<p>
<h3>March Tanning Specials</h3>
<h4>Unlimited Bed</h4>
One Week…$17.95<br>
One Month…$50.00<br>
Buy Two Months for $89.95 and Receive One Month FREE<br>
Buy Four Months for $161.95 and Receive Two Months <br>
Buy Nine Months for $259.95 and Receive Three Months FREE<br>
Tan Until the End of the Year...$239.00<br>
<h4>Unlimited Booth Specials</h4>
One Week…$29.95<br>
Buy One Month for $100.00 and Receive Two Weeks FREE<br>
Buy Two Months for $179.95 and Receive One Month FREE<br>
Tan Until the End of the Year…$299.00<br><br>
*Buying Offer Ends 3/31/14*<br>
</p>

<h3>Pedicures</h3>
<p>
2 pedicure spas in a private, relaxing room. Refresh and revitalize
your tired feet by submerging them into one of our state of the art
pedicure chairs with whirlpool jets. Our licensed, professional
technicians offer personalized service to ensure a clean, safe, high
quality service you desire and deserve.<br>
Bring a friend, relax and enjoy this wonderful experience together.
Gift certificates available. To schedule and appointment call 585-798-4810.<br>
</p>

<h3>Wedding & Prom Packages</h3>
<p>
Package One - $56.00
  <ul>
  	<li>Formal Hairstyle</li>
  	<li>Manicure</li>
  </ul>

Package Two - $89.00
  <ul>
  	<li>Fomal Hairstyle</li>
  	<li>Manicure</li>
  	<li>Pedicure</li>
  </ul>

Package Three - $70.00
  <ul>
  	<li>Formal Hairstyle</li>
  	<li>Set of Party Nails</li>
  </ul>

Package Four - $103.00
  <ul>
  	<li>Formal Hairstyle</li>
  	<li>Set of Party Nails</li>
  	<li>Pedicure</li>
  </ul>

Package Five - $133.50
  <ul>
  	<li>Style Cut</li>
  	<li>Formal Hairstyle</li>
  	<li>Set of Party Nails</li>
  	<li>Pedicure</li>
  	<li>Eyebrow Shaping</li>
  </ul>
</p>

<h3>Top 5 Reasons to get a Pedicure</h3>
<p>Your feet are your foundation. No matter whether you’re on
or off them all day, they can take a beating. Getting a pedicure
is more than just having your toenails painted. It’s a relaxing
experience that is good for your overall health. Need proof?
Here are our top reasons for getting a pedicure at Vision 2000.</p>
<ol>
  <li>A pedicure relieves stress.</li>
  	<p>Sink into one of our massage chairs, dip your feet into a
  	warm foot bath, and you can’t help but breathe a little easier.
  	Pedicures include a soothing foot massage to help circulation
  	and release tension held in your leg and foot muscles.</p>
  <li>Basic foot care is important.</li>
    <p>Taking care of your feet is essential, especially for people
    with diabetes or for runners. Corns, calluses, ingrown toenails
    and other foot issues can be prevented with regular pedicures.
    Before your pedicure, let us know if you have any special requirements
    or sensitivities with your feet so we can make your pedicure a healthy
    and safe experience for you.</p>
  <li>Your skin's moisture is replenished.</li>
    <p>The skin on your feet is just as important to keep hydrated as
    is your face. Moisturized feet are less likely to crack or blister.
    Plus, having smooth, supple feet feels and looks great.</p>
  <li>Boost your foot confidence.</li>
    <p>After getting a pedicure, your toenails (painted or not), cuticles
    and heals are soft, clean and attractive. Clean feet are sexy feet.</p>
  <li>It's fun!</li>
    <p>Get a group of girlfriends together for pedicures together. Relax
    	and chat with your pals while one of our pedicure professionals
    	takes care of you. The rainbow of nail colors to choose from is
    	also exciting. Men enjoy pedicures, too, as a way to rest,
    	rejuvenate and look their best!</p>
</ol>

<h3>New at Vision 2000! OPI Brazil collection is now in!</h3>
Brazil by OPI includes the following shades:<br><br>
Next Stop... - The Bikini ZoneThis amethyst-toned pewter suits me just fine.<br>
Don't Bossa Nova Me Around - Nobody can stop me from wearing this creamy nude!<br>
Taupe-less Beach - There's nothing optional about wearing this enticing taupe.<br>
I São Paulo Over - ThereHe was sipping coffee with this mocha-toned beauty.<br>
OPI Scores a Goal! - Make your point in this winning shade of rich chocolate.<br>
AmazON...AmazOFF - I'm making the switch to this deep jungle green.<br>
I Just Can't Cope-acabana - Nothing lifts your spirits like this sunshine yellow.<br>
Where Did Suzi's Man-go? - He went to fetch her this delicious mango smoothie.<br>
Toucan Do It If You Try - You have talent to achieve anything in this confident orange.<br>
Kiss Me I'm Brazilian - Plant this warm luscious pink on me!<br>
Live.Love.Carnaval - This vibrant and festive coral is the life of the party.<br>
Red Hot Rio - A ruby red as hot as the most exciting city in Brazil.<br><br>
The Brazil Beach Sandies Liquid Sand Mini Pack includes the following shades:<br><br>
Samba-dy Loves Purple - Well, who wouldn't find this vivid textured violet irresistible?<br>
I'm Brazil Nuts Over You - And I'm crazy for this textured matte pink<br>
What's a Little Rain Forest? - I've got this textured matte blue and an umbrella for two.<br>
You're So Flippy Floppy - When I found this bright textured yellow, I just flipped!<br>