<h1>
  <% if @public_page.name.html_safe == "About" %>
  	About Us
  <% elsif @public_page.name.html_safe == "Contact" %>
  	Contact Us
  <% else %>
  	<%= @public_page.name.html_safe %>
  <% end %>
</h1>

<%= @public_page.content.html_safe %>