@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #FFFFCC;
  color: #996633;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table {
  td {
    padding-right: 5px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  text-align: center;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
}

h2 {
  font-size: 2em;
  text-align: center;
  text-shadow:
    -0.5px 0 black,
    0 0.5px black,
    0.5px 0 black,
    0 -0.5px black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  ul.nav a {
    color: #fff !important;
  }
  .dropdown-menu {
    background-color: #222222;
    a:hover {
      background-color: #222222;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form-control {
  width: 250px;
}

.form-actions {
  text-align: center;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* carousel */

@media only screen and (min-width: 0px) {

  .carousel {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 486px) {

  .carousel {
    width: 456px;
    margin: auto;
  }
}