<footer class="footer">
  <small>
    <p>
      Vision 2000<br>
      521 Main St.<br>
      Medina, NY 14103
    </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us", '/about' %></li>
      <li><%= link_to "Contact Us", '/contact' %></li>
    </ul>
  </nav>
</footer>
